<head></head>
<div class="m-3" >
    <h2> Screening</h2>
    <h1>
        <mat-form-field >
            <mat-label>Filter References</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        </mat-form-field>

    </h1>
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped" id="dataTable">
            
        <ng-container matColumnDef="ref">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#ref</th>
            <td mat-cell *matCellDef="let row">{{row.idProjRef}}</td>
        </ng-container>

        <ng-container matColumnDef="tit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let row">
                <div *ngIf="row.art.title !== null && row.art.title.length >= 65">{{row.art.title.substring(0,65)}}...</div> 
                <div *ngIf="row.art.title !== null && row.art.title.length < 65">{{row.art.title}}</div>
            </td>
        </ng-container>


        <ng-container matColumnDef="abs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Abstract</th>
            <td matTooltip={{row.art.abstractA}} *matCellDef="let row">
                <div *ngIf="row.art.abstractA !== null">
                    <div *ngIf="row.art.abstractA.length >= 100">{{row.art.abstractA.substring(0,50)}}...</div>
                    <div *ngIf="row.art.abstractA.length < 100">{{row.art.abstractA}}</div>
                </div>
                <div *ngIf="row.art.abstractA === null"> <p></p></div>
            </td>
        </ng-container>

        <ng-container matColumnDef="usr1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Researcher #1</th>
            <td mat-cell *matCellDef="let row;index as i;">
                <mat-form-field class="example-full-width">
                    <mat-label>Researcher</mat-label>
                    <input type="text" matInput [formControl]="getCtrl(row.idProjRef)" [matAutocomplete]="auto" (focusin)="resetFilter(row.idProjRef)">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changeUser(1, row.idProjRef)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                          </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </td>
        </ng-container>


        <ng-container matColumnDef="sta1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>IN/OUT Researcher #1</th>
            <td mat-cell *matCellDef="let row">{{row.state}}</td>
        </ng-container>





        <ng-container matColumnDef="sta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let row">{{row.state}}</td>
        </ng-container>

        <ng-container matColumnDef="cri">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Criteria</th>
            <td mat-cell *matCellDef="let row">
                <div *ngIf="row.exclusionDTOList != null">
                    <div *ngFor="let exlusion of row.exclusionDTOList">{{exlusion.nameICEC}} </div>
                </div>
                <div *ngIf="row.exclusionDTOList == null"> </div>
            </td>
        </ng-container>


        <ng-container matColumnDef="cla">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Classify</th>
            <td mat-cell *matCellDef="let row">
                <button id="modalButton" type="button" class="btn btn-primary eBtn" style="font-size:12px" (click)="editReferenceDialog(row)"><i class="fa fa-edit"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style]="row.state === 'in' ? 'background-color:  #BDECD6': row.state === 'out' ? 'background-color: #FFEBEE' : 'background-color: #E1F5FE'"></tr>
    
        <tr class="mat-row" *matNoDataRow>
            <td *ngIf="referenceslist.length > 0" class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            <td *ngIf="referenceslist.length <= 0" class="mat-cell" colspan="4">No data available in table</td>
        </tr>
        
    </table>
    <mat-paginator [pageSizeOptions]="[5000, 500, 100, 50]" showFirstLastButtons aria-label="Select page of references"></mat-paginator>
</div>