table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }
  
  .th-center{
    text-align: center;
  }
  .th-left{
    text-align: left;
  }
  .th-right{
    text-align: right;
  }

  mat-paginator {
    display: block;
  }
  
  .mat-paginator-container {
    display: flex;
    align-items: center;
  }

  h1 {
    display: flex;
    justify-content: right;
  }

  .mdc-tooltip__surface{
    max-width:1500px !important;
    max-height: 500px !important;
    font-size: 11pt !important;


}

.doubleCell{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boto {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.icVerd {
  color: green
}

.icNeg {
  color: black
}