.dialog-title {
    text-align: center;
    padding-left: 0%;
  }

.boto {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

mat-form-field {
  width: 100%;
}

.btn3 {
  background-color: #1c4c96;
}