<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="container">
    <h2> {{this.selectedProject.name}} </h2>
    <form ngNativeValidate #form id="newCriteriaForm">
        <div class="form-group">
            <label for="project">Name</label>
            <input type="text" id="name" required [formControl]="name" maxlength=100 class="form-control">
            <mat-hint>{{name.value.length}}/100</mat-hint>
        </div>
        <div class="form-group">
            <label for="project">Topic</label>
            <input type="text" id="topic" [formControl]="topic" class="form-control">
        </div>
        <div class="form-group">
            <label for="project">Research Questions</label>
            <textarea type="text" id="topic" [formControl]="researchQuestion" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="project">Protocol</label>
            <textarea type="text" id="topic" [formControl]="protocol" class="form-control"></textarea>
            <input id="file" type="file" name="file" (change)="handleFileInput($event)" class="form-control" placeholder="Upload image" accept="image/*">
            <img [src]="imageToShow" />
        </div>
        <br>
        <div class="form-group">
            <h3>Users</h3>
            <div *ngFor="let usernameCtrl of involvedUsersUsername.controls; let i = index" class="fila">
                <div class="username">
                    <label for="project">Username</label>
                    <input placeholder="Select Username..." [matAutocomplete]="auto"  (focusin)="resetFilter(i)" (focusout)="removeCtrlValue(i,0)"
                    [formControl]="$any(usernameCtrl)" class="userInputField">
                    <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="changeUser(i)" (closed)="removeCtrlValue(i,1)">
                        <mat-option *ngFor="let username of filteredUsernames | async" [value]="username">
                            {{username}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="info">
                    <label for="project">Info</label>
                    <input type="text" id="userinfo" [formControl]="$any(involvedUsersInfo.at(i))" class="form-control">
                </div>
                <div class="paperera">
                    <button id="modalButton" type="button" class="btn btn-danger eBtn" style="font-size:12px;" (click)="deleteUser(i)"><i class="fa fa-trash"></i>
                    </button>
                </div>                              
            </div> 
            <div class="center">
                <button *ngIf="involvedUsersUsername.length < usernames.length" mat-icon-button class="boto" (click)="addUser()">
                    <mat-icon>add_circle</mat-icon>
                </button>       
            </div>

        </div>
        <br>
        <div class="form-group">
            <h3>Digital Libraries</h3>
            <div *ngFor="let idCtrl of this.dlId.controls; let i = index" class="fila">
                <div class="username">
                    <label for="project">Digital Library</label>
                    <select id="type" required [formControl]="$any(idCtrl)" class="form-control">
                        <option *ngFor="let option of digitalLibraries; let dlInd = index" [value]="dlInd+1" [disabled]="dlSelected(dlInd+1)">{{option}}</option>
                    </select>
                </div>
                <div class="searchString">
                    <label for="project">Search String</label>
                    <textarea type="text" id="searchstring" [formControl]="$any(dlSearchString.at(i))" class="form-control"></textarea>
                </div>
                <div class="username">
                    <label for="project">Number of Results</label>
                    <input type="number" id="topic" [formControl]="$any(dlNumResults.at(i))" class="form-control">   
                </div>
                <div class="paperera">
                    <button id="modalButton" type="button" class="btn btn-danger eBtn" style="font-size:12px" (click)="deleteDL(i)"><i class="fa fa-trash"></i>
                    </button>
                </div>               
            </div>
            <div class="center">
                <button *ngIf="dlId.length < digitalLibraries.length" mat-icon-button class="boto" (click)="addDL()">
                    <mat-icon>add_circle</mat-icon>
                </button>     
            </div>
        </div>
        <br>

        <div class="form-group">
            <label for="project">Comments</label>
            <textarea type="text" id="topic" [formControl]="comments" class="form-control"></textarea>
        </div>
        <div class="footer">
            <button type="submit" id="createCriteriaSubmit" class="btn btn-primary pull-right" (click)="form.checkValidity()? updateProject() : null">Update project data</button>
        </div>
        
    </form>

    

    
</div>