.fila {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 20px;

  }

.username {
    display:flex;
    flex-direction:column;
    width: 200px;
    height: 100%;
}

.info {
    display:flex;
    flex-direction:column;
    width: 75%;
    height: 100%;
}

.searchString {
    display:flex;
    flex-direction:column;
    width: 55%;
    height: 100%;

}

.paperera {
    display:flex;
    flex-direction:column;
    width: 5%;
    height: 10px;
    padding-block: 35px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boto {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-align:center;
    color: green;
    transform: scale(2);
  }

  h3 {
    font-size: 16pt;
  }

  .fileContainer {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transform:scale(2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    height: 10px;

}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.container {
    background-color: white;
  }

  .btn3 {
    background-color: #1c4c96;
  }

  .noPad {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 2rem;
  }

