<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="m-3">
    <div mat-dialog-title class="dialog-title">
        <h2>Change Password</h2>
    </div>
        <form ngNativeValidate #form id="newReferenceForm">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [formControl]="password" required [type]="hide ? 'password' : 'text'">
                <button class="boto" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Repeat Password</mat-label>
                <input matInput [formControl]="password2" required [type]="hide2 ? 'password' : 'text'">
                <button class="boto" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <button type="submit" id="createCriteriaSubmit" class="btn btn-primary pull-right" (click)="form.checkValidity()? close() : password2.markAsTouched();password.markAsTouched()">Log in</button>
   
    </div>