<!DOCTYPE html>
<!-- To use thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="head">
        <meta contentType="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <style>
        .mar {padding: 0 15px 10px;}
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>
    <title>All references</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg py-3 navbar-dark shadow-sm navbar-fixed-top" style="background-color: #153053;">
        <div class="container"><!--style="background-color: #356ac3;"-->
            <!-- GESSi logo -->

            <a id="logo" href="#" class="navbar-brand">
                <!-- Logo Image -->
                <img src='' th:src="@{images/favicon.ico}" class="rounded-circle z-depth-0" alt="" height="35"/>
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold" th:text=" GESSI-SLR"/>
            </a>
            <div class="container-fluid">
                <ul class="nav nav-tabs justify-content-center" >
                    <li  class="nav-item" >
                        <a  class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a  class="nav-link" th:href="@{/newReference}">Import reference</a>
                    </li>
                    <li  class="nav-item">
                        <a  class="nav-link" th:href="@{/editCriteria}">Edit ICEC</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link active" th:href="@{/getAllReferences}">Table references</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link " th:href="@{/errors}">Import errors</a>
                    </li>
                    <li  class="nav-item">
                        <a  class="nav-link" th:href="@{/resetView}">Reset database </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
<br>
<div class="m-3" >

    <h2> All references </h2>
    <p>Download all references <a th:href="@{/download}">here.</a></p>
    <table class="table table-striped " id="dataTable" data-page-length='50'  data-order='[[0, "asc"]]'>
        <thead >
            <tr>
                <th scope="col">DOI</th>
                <th scope="col">#ref</th>
                <th scope="col">DL</th>
                <th scope="col">Year</th>
                <th scope="col">Authors</th>
                <th scope="col">Title</th>
                <th scope="col">Venue</th>
                <th scope="col">State</th>
                <th scope="col">Criteria</th>
                <th scope="col">Info</th>
                <th scope="col">Classify</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="i,iterStat : ${referencesList}"
                th:style="${i.getEstado()} == 'in' ? 'background-color:  #BDECD6' : (${i.getEstado()} == 'out'?'background-color: #FFEBEE': 'background-color: #E1F5FE')">

                <td th:text="${i.getArt().getDoi()}"></td>
                <td th:text="${i.getIdRef()}"></td>
                <td th:text="${i.getDl().getName()}"></td>
                <td th:text="${i.getArt().getAny()}"></td>
                <td>
                    <span th:each="j,iterStatj : ${i.getArt().getResearchers()}">
                        <span th:if="${iterStatj.index} < 2" th:text="!${iterStatj.last}?${j.getName()}+';':${j.getName()}"></span>
                        <span th:if="${iterStatj.index} == 2" th:text="'...'">
                          <!---span class="hide" th:text="!${iterStatj.last}?${j.getName()}+'; ':${j.getName()}"></span--->
                        </span>
                    </span>
                </td>

                <td >
                    <th:block th:with="name = ${i.getArt().getTitle()}">
                        <div th:if="${#strings.length(name)}>=65" th:text="${#strings.substring(name,0,65)}+'...'" />
                        <div th:unless="${#strings.length(name)}>=65" th:text="${name}" />
                    </th:block>
                </td>

                <td th:if="${i.getArt().getVen() != null }" >
                    <th:block th:with="name = ${i.getArt().getVen().getName()}">
                        <div th:if="${#strings.length(name)}>=45" th:text="${#strings.substring(name,0,45)}+'...'" />
                        <div th:unless="${#strings.length(name)}>=45" th:text="${name}" />
                    </th:block>
                </td>
                <td th:unless="${i.getArt().getVen() != null }"> <p></p></td>
                <td th:text="${i.getEstado()}"></td>
                <td th:text="${i.getApplCriteriaString()}"></td>
                <td th:unless="${i.getArt().getVen() != null }"> <p></p></td>
                <td>
                    <button class="btn btn-primary" th:data-url="@{/getReference?id={id}(id=${i.getIdRef()})}"
                            onclick="window.open(this.getAttribute('data-url'))" style="font-size:12px"><i class="fa fa-info-circle" aria-hidden="true"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary eBtn" style="font-size:12px" data-toggle="modal"
                            th:attr="data-target='#exampleModal'+${i.idRef}, onclick=|editReference(${i.getIdRef()}, &quot;${i.getEstado()}&quot;, &quot;${i.getApplCriteriaString()}&quot;)|"><i class="fa fa-edit"></i>
                    </button>
                </td>
                <!-- Modal -->
                <div class="modal fade" th:id="exampleModal+${i.idRef}" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Classify</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action='#' id="myForm" method="post" th:action="@{/editReference/{id}(id=${i.getIdRef()})}" th:object="${f}">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <select id="state" th:onchange="|updateEditCriteria(this, ${i.getIdRef()})|" required th:field="*{estado}" class="form-control">
                                            <option value="" hidden>Select a type</option>
                                            <option value="">None</option>
                                            <option value="in">In</option>
                                            <option value="out">Out</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="applCriteria">Application criteria</label>
                                        <select multiple required id="applCriteria" th:field="*{applCriteria}" class="form-control">
                                            <option value="" hidden>Select a Criteria</option>
                                            <div th:each="x,iterStatx : ${ECCriteria}">
                                                <option th:value="${x}" th:text="${x}"></option>
                                            </div>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Update reference</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>

    </div>

</body>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#dataTable').DataTable({
            stateSave: true
        });
        $(".myForm #exampleModal").modal();
    } );
    function updateEditCriteria(component, id) {
        const selectCriteria =  $('select[id="applCriteria"]');
        if (component.value === "out") {
            selectCriteria[id - 1].disabled = false;
            selectCriteria[id - 1].required = true;
        }
        else {
            selectCriteria[id - 1].disabled = true;
            selectCriteria[id - 1].required = false;
            selectCriteria[id - 1].value = "";
        }
    }
    function editReference(id, state, criteria) {
        const selectState = $('select[id="state"]');
        const selectCriteria =  $('select[id="applCriteria"]');
        selectCriteria[id-1].disabled = true;
        selectCriteria[id-1].required = false;
        selectCriteria[id-1].value = "";
        selectState[id - 1].value = "";
        if (state !== "null") {
            selectState[id - 1].value = state;
            if (state === "out") {
                selectCriteria[id - 1].disabled = false;
                selectCriteria[id - 1].required = true;
                selectCriteria[id - 1].value = criteria;
            }
        }
    }
</script>
</html>