<!DOCTYPE html>
<!-- To use thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready( function () {
            $('#dataTable').DataTable();
        } );
    </script>
    <title>All references</title>
    <style>
        .mar {
            padding: 0 15px 10px;
        }
        .hide {
            display: none;
        }

        .myDIV:hover + .hide {
            display: block;
            color: #aeffa0;
        }
    </style>
</head>
<body>
<div >
    <!--    Creates a big gray field  -->
<div class="jumbotron">
    <!-- Big words -->
    <h1 class="display-4"> GESSI - REFERENCES MANAGEMENT</h1>
    <h4> Download all references information <a href="/download">here</a></h4>
</div>
    <div class="mar" >
<table class="table table-striped " id="dataTable" data-page-length='50' data-order='[[1, "desc"]]'>
    <thead >
    <tr>
        <th scope="col">DOI</th>
        <th scope="col">#ref</th>
        <th scope="col">DLName</th>
        <th scope="col">Year</th>
        <th scope="col">Authors</th>
        <th scope="col">Title</th>
        <th scope="col">Venue</th>
        <th scope="col">Estate</th>
        <th scope="col">...</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="i,iterStat : ${referencesList}"
        th:style="${i.getEstado()} == 'duplicated' ? 'background-color:  #FFEBEE' : 'background-color: #E1F5FE'">
        <td th:text="${i.getArt().getDoi()}"></td>
        <td th:text="${i.getIdRef()}"></td>
        <td th:text="${i.getDl().getName()}"></td>
        <td th:text="${i.getArt().getAny()}"></td>
        <td>
            <span th:each="j,iterStatj : ${i.getArt().getResearchers()}">
                <span th:if="${iterStatj.index} < 2" th:text="!${iterStatj.last}?${j.getName()}+';':${j.getName()}"></span>
                <span th:if="${iterStatj.index} == 2"
                      th:text="'...'">
                  <!---span class="hide" th:text="!${iterStatj.last}?${j.getName()}+'; ':${j.getName()}"></span--->
                </span>
            </span>
        </td>

        <td >
            <th:block th:with="name = ${i.getArt().getTitle()}">
                <div th:if="${#strings.length(name)}>=65" th:text="${#strings.substring(name,0,65)}+'...'" />
                <div th:unless="${#strings.length(name)}>=65" th:text="${name}" />
            </th:block>
        </td>

        <td th:if="${i.getArt().getVen() != null }" >
            <th:block th:with="name = ${i.getArt().getVen().getName()}">
                <div th:if="${#strings.length(name)}>=45" th:text="${#strings.substring(name,0,45)}+'...'" />
                <div th:unless="${#strings.length(name)}>=45" th:text="${name}" />
            </th:block>
        </td>
        <td th:unless="${i.getArt().getVen() != null }"> <p></p></td>

        <td th:text="${i.getEstado()}"> </td>
        <td>
            <button class="btn btn-primary" th:data-url="@{/getReference?id={id}(id=${i.getIdRef()})}"
                    onclick="window.open(this.getAttribute('data-url'))">+
            </button>
        </td>

    </tr>

    </tbody>
</table>
</div>
</div>
</body>
</html>