<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="allReferences::head"></div>
    <title>Import errors</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3 navbar-dark shadow-sm navbar-fixed-top" style="background-color: #153053;">
            <div class="container-fluid"><!--style="background-color: #356ac3;"-->
                <!-- GESSi logo -->

                <a id="logo" href="#" class="navbar-brand">
                    <!-- Logo Image -->
                    <img src='' th:src="@{images/favicon.ico}" class="rounded-circle z-depth-0" alt="" height="35">
                    <!-- Logo Text -->
                    <span class="text-uppercase font-weight-bold">GESSI-SLR</span>
                </a>
                <div style="width: 50%">
                    <ul class="nav nav-tabs justify-content-center">
                        <li  class="nav-item">
                            <a class="nav-link" onclick="onClick(this, '/')" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="onClick(this, '/newReference')" th:href="@{/newReference}">Import reference</a>
                        </li>
                        <li  class="nav-item">
                            <a class="nav-link" onclick="onClick(this, '/editCriteria')" th:href="@{/editCriteria}">Edit ICEC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="onClick(this, '/getAllReferences')" th:href="@{/getAllReferences}">Table references</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" onclick="onClick(this, '/errors')" th:href="@{/errors}">Import errors</a>
                        </li>
                        <li  class="nav-item">
                            <a class="nav-link" onclick="onClick(this, '/resetView')" th:href="@{/resetView}">Reset database </a>
                        </li>
                    </ul>

                </div>
                <div class="d-flex justify-content-between" style="width: 20%">
                    <label style="display: flex;" for="idProject"></label>
                    <select required id="idProject" onchange="updateProject(this)" class="form-control">
                        <option value="-1" hidden="true">Select a Project</option>
                        <option th:each="x : ${projectList}" th:value="${x.getId()}" th:text="${x.getName()}"></option>
                    </select>
                    <button id="modalButton" type="button" class="btn btn-primary eBtn" style="font-size:12px" data-toggle="modal" data-target="#createProject">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
<br>

<div class="m-3">
    <h2>Importation errors</h2>
    <table class="table table-striped " id="dataTable" data-page-length='50' data-order='[[0, "desc"]]' >
        <thead >
        <tr class="btn-info" style="background: #1c4c96 ">
            <th scope="col">Date&Time</th>
            <th scope="col">#DOI</th>
            <th scope="col">#DL</th>
            <th scope="col">Reference's information</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i,iterStat : ${errorsList}">
            <td th:text="${i.getDatetime()}"></td>
            <td th:text="${i.getDoi()}"></td>
            <td th:text="${i.getIdDL()}"></td>
            <td th:text="${i.getBibTex()}"></td>
        </tr>
        </tbody>
    </table>
</div>

    <div class="modal fade" th:id="createProject" tabindex="-1" role="dialog" aria-labelledby="createProject" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action='#' id="Form" method="post" th:action="@{/newProject}" th:object="${newProject}">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" required th:field="*{name}" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#dataTable').DataTable();
    });

    var queryParams = new URLSearchParams(window.location.search);
    console.log(queryParams.toString());
    const selectType =  $('select[id="idProject"]');
    if (queryParams.has("idProject"))
        selectType[0].value = queryParams.get("idProject");

    function onClick(component, url) {
        component.href = window.location.href.indexOf("gessi-slr") > -1 ?  "/gessi-slr" +  url + "?" + queryParams.toString() : url + "?" + queryParams.toString();

    }

    function updateProject(component) {
        queryParams.set("idProject", component.value);
        history.replaceState(null, null, "?"+queryParams.toString());
        console.log(queryParams.toString());
    }

    function closeModel() {
        projectModal.style.display = "none";
    }

</script>
</html>