<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Add reference</title>
    <div th:replace="allReferences::head"> </div>
</head>

<body>
    <form method="post" th:action="@{/new}" th:object="${f}" action="#" enctype="multipart/form-data">
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg py-3 navbar-dark shadow-sm navbar-fixed-top" style="background-color: #153053;">
                <div class="container-fluid"><!--style="background-color: #356ac3;"-->
                    <!-- GESSi logo -->

                    <a id="logo" href="#" class="navbar-brand">
                        <!-- Logo Image -->
                        <img src='' th:src="@{images/favicon.ico}" class="rounded-circle z-depth-0" alt="" height="35">
                        <!-- Logo Text -->
                        <span class="text-uppercase font-weight-bold">GESSI-SLR</span>
                    </a>
                    <div style="width: 50%">
                        <ul class="nav nav-tabs justify-content-center">
                            <li  class="nav-item">
                                <a class="nav-link" onclick="onClick(this, '/')" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" onclick="onClick(this, '/newReference')" th:href="@{/newReference}">Import reference</a>
                            </li>
                            <li  class="nav-item">
                                <a class="nav-link" onclick="onClick(this, '/editCriteria')" th:href="@{/editCriteria}">Edit ICEC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="onClick(this, '/getAllReferences')" th:href="@{/getAllReferences}">Table references</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="onClick(this, '/errors')" th:href="@{/errors}">Import errors</a>
                            </li>
                            <li  class="nav-item">
                                <a class="nav-link" onclick="onClick(this, '/resetView')" th:href="@{/resetView}">Reset database </a>
                            </li>
                        </ul>

                    </div>
                    <div class="d-flex justify-content-between" style="width: 20%">
                        <label style="display: flex;" for="idProject"></label>
                        <select required id="idProject" name="idProject" onchange="updateProject(this)" class="form-control">
                            <option value="-1" hidden="true">Select a Project</option>
                            <option th:each="x : ${projectList}" th:value="${x.getId()}" th:text="${x.getName()}"></option>
                        </select>
                        <button id="modalButton" type="button" class="btn btn-primary eBtn" style="font-size:12px" data-toggle="modal" data-target="#createProject">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
        <br>
        <div class=" container" >
            <h2> Import new reference </h2>
            <div class="form-group">
                <label for="file">File</label>
                <input id="file" type="file" name="file" required th:field="*{file}" class="form-control"
                       placeholder="Enter .bib file" accept="file/bib"/>
            </div>
            <div class="form-group">
                <label for="dlNum">Digital Library</label>
                <select id="dlNum" required th:field="*{dlNum}" class="form-control">
                <option value="" hidden="true">Select a digital library</option>
                <option value="1" th:text="${DLnames[0]}" ></option>
                <option value="2" th:text="${DLnames[1]}" ></option>
                <option value="3" th:text="${DLnames[2]}" ></option>
                <option value="4" th:text="${DLnames[3]}" ></option>
                <option value="5" th:text="${DLnames[4]}" ></option>
                <option value="6" th:text="${DLnames[5]}" ></option>
                </select>
            </div>
            <input type="submit" id="createReference" class="btn btn-primary" value="Create reference">
            <input type="reset" class="btn btn-secondary"  value="Clear">
            <br>

            <div th:if="${importBool == false}"> <p th:text="${errorFile}" style="color:#ff0000"></p> </div>
            <div th:if="${importBool == true}">
                <div ><b>Imported file name: </b><span id="pathNEW" th:text="${newName}"></span></div>
                <div ><b>Number of references imported: </b><span id="numRNEW" th:text="${refsImp}"></span></div>
                <div ><b>Digital library of imported file: </b><span id="DLNEW" th:text="${DLnew}"></span></div>
                <div th:if="${#lists.isEmpty(errors)}">
                    <b>Import process successfully.</b>
                </div>
                <div th:if="not ${#lists.isEmpty(errors)}">
                    <table class="table table-bordered  table-striped ">
                        <tr colspan="4"><b>Import process errors:</b></tr>
                        <tr class="btn-info" style="background: #1c4c96 ">
                            <th>DOI</th>
                            <th>DL</th>
                            <th>Reference's information </th>
                        </tr>
                        <tr th:each="i,iterStat  : ${errors}">
                            <td th:text="${i.getDoi()}"></td>
                            <td th:text="${i.getIdDL()}"></td>
                            <td th:text="${i.getBibTex()}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" th:id="createProject" tabindex="-1" role="dialog" aria-labelledby="createProject" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal">Create Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action='#' id="Form" method="post" th:action="@{/newProject}" th:object="${newProject}">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" required th:field="*{name}" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script language="javascript" type="text/javascript">

    const selectType =  $('select[id="idProject"]');
    const createReference =  $('input[id="createReference"]');

    var queryParams = new URLSearchParams(window.location.search);

    createReference[0].disabled = true;

    if (queryParams.has("idProject")) {
        selectType[0].value = queryParams.get("idProject");
        createReference[0].disabled = false;
    }

    function onClick(component, url) {
        component.href = window.location.href.indexOf("gessi-slr") > -1 ?  "/gessi-slr" +  url + "?" + queryParams.toString() : url + "?" + queryParams.toString();
    }

    function updateProject(component) {
        queryParams.set("idProject", component.value);
        history.replaceState(null, null, "?"+queryParams.toString());
        createReference[0].disabled = false;
    }

    function closeModel() {
        projectModal.style.display = "none";
    }

</script>
</html>