<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="index::head"></head>
<head>
    <title>Reset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" language="javascript" src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>

</head>
<body>

<header th:replace="index::header"></header>

<button class="btn btn-primary" href="/reset" style="font-size:12px">
    <i class="fa fa-info-refresh" ></i>

    <!---Aviso de que se vaciara la bd-->
</button>

</body>
</html>