<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="index::head"></head>
<head>
    <title>Reset</title>
</head>
<body>

<header th:replace="index::header"></header>
<div class="container mb-5">
    <h4> Note that if you press the reset button the content of the database will be completely removed. </h4>
    <button class="btn btn-primary " style="font-size:12px"  >
        <i class="fa fa-refresh" > <a th:href="@{/reset}" class="text-white">Reset</a></i>
        <!---Aviso de que se vaciara la bd-->
    </button>
</div>
<script src="https://code.jquery.com/jquery-latest.js" type=""></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type=""></script>
</body>
</html>