<head>
  <title>Home</title>
  <div replace="allReferences::head"></div>
  <style>
      .btn {
          background-color: DodgerBlue;
          border: none;
          color: white;
          padding: 12px 30px;
          cursor: pointer;
          font-size: 20px;
      }

      /* Darker background on mouse-over */
      .btn:hover {
          background-color: RoyalBlue;
      }
  </style>
</head>
<header fragment="header">
  <nav class="navbar navbar-expand-lg py-3 navbar-dark shadow-sm navbar-fixed-top" style="background-color: #153053;">
      <div class="container-fluid"><!--style="background-color: #356ac3;"-->
          <!-- GESSi logo -->

          <a id="logo" href="#" class="navbar-brand">
              <!-- Logo Image -->
              <img src="assets/favicon.ico" class="rounded-circle z-depth-0" alt="" height="35">
              
              <!-- Logo Text -->
              <span class="text-uppercase font-weight-bold"> GESSI-SLR</span>
          </a>
          <div style="width: 50%">
              <ul class="nav nav-tabs justify-content-center">
                  <li  class="nav-item">
                      <a *ngIf="this.selectedOption === 'index'" class="nav-link active">Home</a>
                      <a *ngIf="this.selectedOption !== 'index'" class="nav-link" (click)="changeOption('index')">Home</a>

                  </li>
                  <li class="nav-item">
                    <a *ngIf="this.selectedOption === 'import'" class="nav-link active">Import reference</a>
                    <a *ngIf="this.selectedOption !== 'import'" class="nav-link" (click)="changeOption('import')">Import reference</a>
                  </li>
                  <li  class="nav-item">
                    <a *ngIf="this.selectedOption === 'criteria'" class="nav-link active">Criteria</a>
                    <a *ngIf="this.selectedOption !== 'criteria'" class="nav-link" (click)="changeOption('criteria')">Criteria</a>
                  </li>
                  <li class="nav-item">
                      <a *ngIf="this.selectedOption === 'references'" class="nav-link active">References</a>
                      <a *ngIf="this.selectedOption !== 'references'" class="nav-link" (click)="changeOption('references')">References</a>
                  </li>
                  <li class="nav-item">
                    <a *ngIf="this.selectedOption === 'errors'" class="nav-link active">Errors</a>
                    <a *ngIf="this.selectedOption !== 'errors'" class="nav-link" (click)="changeOption('errors')">Errors</a>
                  </li>
                  <li  class="nav-item">
                      <a class="nav-link" onclick="onClick(this, '/resetView')" href="/resetView">Reset</a>
                  </li>
              </ul>

          </div>
          <div class="d-flex justify-content-between" style="width: 20%">
              <label style="display: flex;" for="idProject"></label>
              <select required id="idProject" (change)="changeProject($event)" class="form-control">
                  <option value="-1" hidden="true">Select a Project</option>
                  <option *ngFor="let project of projects" value={{project.id}} text={{project.name}}></option>
                  
              </select>
          </div>
      </div>
  </nav>
</header>
<div [ngSwitch]="selectedOption">
    <app-index *ngSwitchCase="'index'"></app-index>
    <app-references *ngSwitchCase="'references'" [references]="references" [idProject]="selectedProject"></app-references>
    <app-errors *ngSwitchCase="'errors'" [errors]="errors"></app-errors>
    <app-reference-import *ngSwitchCase="'import'" [dlNames]="dlNames" [idProject]="selectedProject" (newReferencesImported)="newReferences()"> </app-reference-import>
    <app-criteria *ngSwitchCase="'criteria'" [inclusionCriteria]="IC" [exclusionCriteria]="EC"></app-criteria>
</div>