<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Home</title>
    <div replace="allReferences::head"></div>
</head>
<body>
    <br>
    <div class="row mt-5 mx-5">
        <div class="col ml-5">
            <div class="row mb-5">
                <img src="assets/favicon.ico" class="img-rounded mr-5" height="200">
                <div class="col ml-5">
                    <h1>GESSI-SLR <br> 1.3.0</h1>
                    <h3>GESSI Tool for helping research group members to conduct Sytematic Literature reviews.</h3>
                </div>
            </div>
            <span>On the right side you can see the workflow of the web and if you have more questions on how to use the web you can download the manual down here.</span>
            <br>
            <div class="d-flex justify-content-end mt-3">
                <a href="assets/documents/Manual_GESSI-SLR.pdf" target="_blank"><button class="btn btn3"><i class="fa fa-download"></i> Download Manual</button></a>
            </div>
        </div>
        <br>
        <div class="col d-flex justify-content-end mr-5">
            <img src="assets/images/workflow.png" class="img-rounded">
        </div>
    </div>
</body>
</html>